[project]
	description = Demonstration for Dauphine Students
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alexandre ESTELA (alex-estela)
[access "refs/for/refs/*"]
	read = group user/Alexandre ESTELA (alex-estela)
	push = group user/Alexandre ESTELA (alex-estela)
	label-Code-Review = -2..+2 group user/Alexandre ESTELA (alex-estela)
	label-Verified = -1..+1 group user/Alexandre ESTELA (alex-estela)
	rebase = group user/Alexandre ESTELA (alex-estela)
	removeReviewer = group user/Alexandre ESTELA (alex-estela)
	submit = group user/Alexandre ESTELA (alex-estela)
[access "refs/heads/*"]
	read = group user/Alexandre ESTELA (alex-estela)
	create = group user/Alexandre ESTELA (alex-estela)
	push = +force group user/Alexandre ESTELA (alex-estela)
	pushMerge = group user/Alexandre ESTELA (alex-estela)
[access "refs/tags/*"]
	push = +force group user/Alexandre ESTELA (alex-estela)
	pushTag = group user/Alexandre ESTELA (alex-estela)
	pushSignedTag = group user/Alexandre ESTELA (alex-estela)
